[{caterpillar, [
    {logs, [
        {log_file, "/var/log/caterpillar/caterpillar.log"}
    ]},
    {net_kernel, [
        {self, 'caterpillar@127.0.0.1'},
        {cookie, 'caterpillar'},
        {scan_nodes, ['caterpillar@127.0.0.1']}
    ]},
    {services, [
        {caterpillar_event, []},

        {caterpillar_builder, [
            {build_path, "/var/lib/caterpillar/build"},
            {deps, "/var/lib/caterpillar/build/dependencies"},
            {buckets, "/var/lib/caterpillar/build/buckets"},
            {poll_time, 1000},
            {ident, amd64},
            {build_workers_number, 5},
            {queue_missing, true},
            {work_id, "/var/lib/caterpillar/build/work_id"}
        ]},

        {caterpillar_repository, [
            {work_id_file, "/var/lib/caterpillar/repository/work_id"},
            {repository_root, "/srv/git"},
            {repository_db, "/var/lib/caterpillar/repository/repo.db"},
            {archive_root, "/var/lib/caterpillar/repository/archive_root"},
            {export_root, "/var/lib/caterpillar/repository/export_root"},
            {notify_root, "/var/lib/caterpillar/repository/notify_root"},
            {scan_interval, 600}, %sec
            {vcs_plugin, caterpillar_git_plugin},
            {vcs_plugin_init, []}
        ]},

        {caterpillar_notifier, [
            {mail_root, "/var/lib/caterpillar/notifier/mail_root"},
            {email_to, "test@smprc.ru"},
            {email_from, "test@smprc.ru"}
        ]},

%        {caterpillar_worker, [
%            {ident, amd64},
%            {worker_plugin, caterpillar_simple_builder},
%            {worker_plugin_init, [
%                {work_id_file, "/var/lib/caterpillar/simple_builder/work_id"},
%                {archive_root, "/var/lib/caterpillar/simple_builder/archive_root"},
%                {repository_root, "/var/lib/caterpillar/simple_builder/repository_root"},
%                {deploy_root, "/var/lib/caterpillar/simple_builder/deploy_root"}
%            ]}
%        ]},

        {caterpillar_deploy, [
            {deploy_script, "/etc/caterpillar/update_repo.sh"},
            {rotate, 5},
            {idents, [
                {amd64, [
                    {"stable", "/srv/packages/smprc/dists/stable/main/binary-amd64"},
                    {"test", "/srv/packages/smprc/dists/testing/main/binary-amd64"},
                    {default, "/srv/packages/smprc/dists/unstable/main/binary-amd64"}
                ]},
                {i386, [
                    {"stable", "/srv/packages/smprc/dists/stable/main/binary-i386"},
                    {"test", "/srv/packages/smprc/dists/testing/main/binary-i386"},
                    {default, "/srv/packages/smprc/dists/unstable/main/binary-i386"}
                ]},
                {default, [
                    {default, "/srv/deploy/unknown"}
                ]}
            ]}
        ]},

        {caterpillar_api, [
            {host, "127.0.0.1"},
            {port, 8088}
        ]}
    ]}
]}].

