[{caterpillar, [
    {logs, [
        {log_file, "test/caterpillar.log"}
    ]},
    {net_kernel, [
        {self, 'caterpillar@127.0.0.1'},
        {cookie, 'caterpillar'}
    ]},
    {services, [

        {caterpillar_repository, [
            {work_id_file, "/var/lib/caterpillar/repository/work_id"},
            {repository_root, "/srv/bzr"},
            {repository_db, "/var/lib/caterpillar/repository/repo.db"},
            {archive_root, "/var/lib/caterpillar/repository/archive_root"},
            {export_root, "/var/lib/caterpillar/repository/export_root"},
            {notify_root, "/var/lib/caterpillar/repository/notify_root"},
            {scan_interval, 600}, %sec
            {vcs_plugin, caterpillar_bzr_plugin},
            {vcs_plugin_init, []}
        ]},

        {caterpillar_event, []},

        {caterpillar_notifier, []}
    ]}
]}].

