[{caterpillar, [
    {logs, [
        {log_file, "/var/log/caterpillar/caterpillar.log"}
    ]},
    {net_kernel, [
        {self, 'caterpillar@127.0.0.1'},
        {cookie, 'caterpillar'},
        {scan_nodes, ['caterpillar@127.0.0.1']}
    ]},
    {services, [
        {caterpillar_event, []},

        {caterpillar_repository, [
            {work_id_file, "/var/lib/caterpillar/repository/work_id"},
            {repository_root, "/srv/git"},
            {repository_db, "/var/lib/caterpillar/repository/repo.db"},
            {archive_root, "/var/lib/caterpillar/repository/archive_root"},
            {export_root, "/var/lib/caterpillar/repository/export_root"},
            {notify_root, "/var/lib/caterpillar/repository/notify_root"},
            {scan_interval, 600}, %sec
            {vcs_plugin, caterpillar_git_plugin},
            {vcs_plugin_init, []}
        ]},

        {caterpillar_notifier, [
            {mail_root, "/var/lib/caterpillar/notifier/mail_root"},
            {email_to, "test@smprc.ru"},
            {email_from, "test@smprc.ru"}
        ]},

        {caterpillar_deploy, [
            {deploy_script, "/etc/caterpillar/update_repo.sh"},
            {idents, [
                {amd64, [
                    {"stable", "/srv/packages/smprc/dists/stable/main/binary-amd64"},
                    {"test", "/srv/packages/smprc/dists/testing/main/binary-amd64"},
                    {default, "/srv/packages/smprc/dists/unstable/main/binary-amd64"}
                ]},
                {i386, [
                    {"stable", "/srv/packages/smprc/dists/stable/main/binary-i386"},
                    {"test", "/srv/packages/smprc/dists/testing/main/binary-i386"},
                    {default, "/srv/packages/smprc/dists/unstable/main/binary-i386"}
                ]},
                {default, [
                    {default, "/srv/deploy/unknown"}
                ]}
            ]}
        ]},

        {caterpillar_api, [
            {host, "127.0.0.1"},
            {port, 8088}
        ]}
    ]}
]}].

