[
    {version, "1.7.2"},
    {section, "smprc"},
    {package_t, ["deb"]},
    {description, "package building tools for smprc"},
    {arch, "all"},
    {maintainers, []},
    {deps, [
        "erlang-base",
        "python-setuptools",
        "erlang-eunit",
        "erlang-dev",
        "erlang-tools",
        "python-twisted-core",
        "python-twisted-web",
        "python-simplejson",
        "python-argparse",
        "dpkg-dev",
        "make",
        "gcc",
        "autoconf",
        {"smprc-erlang-utils", "*", ""},
        {"smprc-mochiweb", "*", ""},
        {"smprc-cowboy", "*", ""},
        {"smprc-rebar", "*", ""}
    ]},
    {build_deps, [
        {"devel-tools", "trunk", ""},
        {"test_runner", "trunk", ""}
    ]} 
].
