[
    {version, "1.7.9.1"},
    {section, "smprc"},
    {package_t, ["deb"]},
    {description, "package building tools for smprc"},
    {arch, "all"},
    {maintainers, []},
    {deps, [
        "erlang-base",
        "erlang-eunit",
        "erlang-dev",
        "erlang-tools",
        "dpkg-dev",
        "make",
        {"cowboy", "*", ""},
        {"jsonx", "*", ""},
        {"cowlib", "*", ""},
        {"ranch", "*", ""}
    ]},
    {build_deps, [
    ]},
    {dist, {"erlang_default", [
        {application, "caterpillar"},
        {path, "caterpillar"},
        {executables, [
            "caterpillar",
            "caterpillar.escript"
        ]},
        {services, [
            "caterpillar"
        ]},
        {share, [
            "priv"
        ]},
        {config, [
            "caterpillar.config"
        ]}
    ]}}
].
