{lib_dirs, [
    "../../smprc-cowboy/trunk/lib",
    "../../smprc-logging/trunk/lib"]}.

{erl_opts, [
    {i, "../../smprc-logging/trunk/include"},
    {src_dirs, ["test_src", "src"]}
]}.

{eunit_opts, [
    verbose
]}.

{eunit_compile_opts, [
    debug_info,
    warnings_as_errors,
    export_all
]}.
