{lib_dirs, [
    "/var/lib/smprc/erlang/smprc-cowboy/lib",
    "../../smprc-cowboy/trunk/lib",
    "/var/lib/smprc/erlang/smprc-logging/lib",
    "../../smprc-logging/trunk/lib"]}.

{erl_opts, [
    {i, "/var/lib/smprc/erlang/smprc-logging/include"},
    {i, "../../smprc-logging/trunk/include"},
    {src_dirs, ["src", "test_src"]},
    debug_info,
    warnings_as_errors,
    export_all
]}.

{eunit_opts, [
    verbose
]}.
