[
{logging, [{
    settings, [
        {log_level, all},
        {log_file, "test/info.caterpillar.log"},
        {log_max_size, 5242880},
        {log_backup_count, 5},
        {report_file, "test/report.caterpillar.log"}
    ]}
]},
{caterpillar, 
[
    {handler, [
        {vcs_plugin, [{caterpillar_git_local, []}]},
        {deps, "./deps"},
        {unpack_dir, "../test/unpack"}
    ]},
    {worker, [
        {build_plugins, [{deb, caterpillar_deb_plugin}]},
        {platform_plugins, [{default, caterpillar_default_builder}]}
    ]},
    {api, [
        {port, 35356}
    ]}
]
}
].
