[{caterpillar, [
    {logs, [
        {log_file, "test/caterpillar.log"}
    ]},
    {net_kernel, [
        {self, 'caterpillar@127.0.0.1'},
        {cookie, 'caterpillar'}
    ]},
    {services, [
        {caterpillar_repository, [
            {repository_root, "test_repo/"},
            {repository_db, "test_repo.dets"},
            {archive_root, "test_archive/"},
            {export_root, "test_export/"},
            {scan_interval, 10},
            {vcs_plugin, test_vcs_plugin},
            {vcs_plugin_init, []}
        ]}
    ]}
]}].

