[
{caterpillar, 
[
    {handler, [
        {vcs_plugin, [{caterpillar_git_local, []}]},
        {deps, "test/deps"},
        {unpack_dir, "/var/lib/smprc/caterpillar/unpack"}
    ]},
    {worker, [
        {build_plugins, [{deb, caterpillar_deb_plugin}]},
        {platform_plugins, [{default, caterpillar_default_builder}]}
    ]}
]
}
].
